.custom-dots {
  display: flex;
  justify-content: center !important;
  position: absolute;
  right: 20px;
  top: -20%;
  gap: 0.1rem;
}

.custom-dot {
  background-color: var(--secondary) !important;
  border: 1px solid #fff !important;
  border-radius: 50% !important;
  height: 13px !important;
  margin: 0 5px !important;
  width: 13px !important;
}

.custom-dot.active {
  width: 100%;
  position: relative;
  background-color: #fff !important;
}

.owl-dot span {
  display: none !important;
}

/* .item {
      opacity: 0;
      transition: opacity 1s ease-in-out;
    }
    
    .item.active {
      opacity: 1;
    } */

@media (max-width: 780px) {
  .custom-dots {
    display: none;
  }
}
